


$color1: rgba(255, 217, 218, 1);
$color2: rgba(234, 99, 140, 1);
$color3: rgba(137, 2, 62, 1);
$color4: rgba(48, 52, 63, 1);
$color5: rgba(27, 32, 33, 1);



$color1: rgba(47, 45, 46, 1);
$color2: rgba(72, 99, 156, 1);
$color3: rgba(121, 35, 89, 1);
$color4: rgba(215, 36, 131, 1);
$color5: rgba(253, 62, 129, 1);


$color1: rgba(211, 213, 212, 1);
$color2: rgba(162, 197, 172, 1);
$color3: rgba(157, 181, 178, 1);
$color4: rgba(135, 142, 153, 1);
$color5: rgba(127, 106, 147, 1);


$color1: rgba(45, 49, 66, 1);
$color2: rgba(79, 93, 117, 1);
$color3: rgba(191, 192, 192, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(239, 131, 84, 1);


$color1: rgba(219, 213, 109, 1);
$color2: rgba(135, 170, 116, 1);
$color3: rgba(45, 147, 173, 1);
$color4: rgba(255, 102, 102, 1);
$color5: rgba(221, 144, 110, 1);


$color1: rgba(237, 174, 73, 1);
$color2: rgba(209, 73, 91, 1);
$color3: rgba(0, 121, 140, 1);
$color4: rgba(48, 99, 142, 1);
$color5: rgba(0, 61, 91, 1);


$color1: rgba(35, 25, 66, 1);
$color2: rgba(94, 84, 142, 1);
$color3: rgba(159, 134, 192, 1);
$color4: rgba(190, 149, 196, 1);
$color5: rgba(224, 177, 203, 1);


$color1: rgba(255, 166, 48, 1);
$color2: rgba(215, 232, 186, 1);
$color3: rgba(77, 161, 169, 1);
$color4: rgba(46, 80, 119, 1);
$color5: rgba(97, 28, 53, 1);


$color1: rgba(66, 62, 55, 1);
$color2: rgba(227, 178, 60, 1);
$color3: rgba(237, 235, 215, 1);
$color4: rgba(163, 149, 148, 1);
$color5: rgba(110, 103, 95, 1);


$color1: rgba(171, 216, 178, 1);
$color2: rgba(110, 175, 169, 1);
$color3: rgba(67, 98, 130, 1);
$color4: rgba(41, 56, 89, 1);
$color5: rgba(40, 40, 79, 1);


$color1: rgba(31, 32, 65, 1);
$color2: rgba(75, 63, 114, 1);
$color3: rgba(255, 200, 87, 1);
$color4: rgba(17, 157, 164, 1);
$color5: rgba(25, 100, 126, 1);


$color1: rgba(6, 123, 194, 1);
$color2: rgba(132, 188, 218, 1);
$color3: rgba(236, 195, 11, 1);
$color4: rgba(243, 119, 72, 1);
$color5: rgba(213, 96, 98, 1);


$color1: rgba(254, 95, 85, 1);
$color2: rgba(17, 75, 95, 1);
$color3: rgba(2, 128, 144, 1);
$color4: rgba(228, 253, 225, 1);
$color5: rgba(69, 105, 144, 1);


$color1: rgba(36, 48, 16, 1);
$color2: rgba(135, 163, 48, 1);
$color3: rgba(161, 195, 73, 1);
$color4: rgba(202, 213, 147, 1);
$color5: rgba(42, 60, 36, 1);


$color1: rgba(51, 24, 50, 1);
$color2: rgba(239, 93, 96, 1);
$color3: rgba(236, 64, 103, 1);
$color4: rgba(216, 30, 91, 1);
$color5: rgba(49, 24, 71, 1);


$color1: rgba(241, 143, 1, 1);
$color2: rgba(10, 34, 57, 1);
$color3: rgba(236, 64, 103, 1);
$color4: rgba(4, 139, 168, 1);
$color5: rgba(248, 51, 60, 1);



$color1: rgba(9, 12, 8, 1);
$color2: rgba(71, 64, 86, 1);
$color3: rgba(117, 112, 131, 1);
$color4: rgba(138, 149, 165, 1);
$color5: rgba(185, 198, 174, 1);


$color1: rgba(226, 132, 19, 1);
$color2: rgba(245, 100, 22, 1);
$color3: rgba(221, 75, 26, 1);
$color4: rgba(239, 39, 27, 1);
$color5: rgba(234, 23, 68, 1);


$color1: rgba(220, 214, 247, 1);
$color2: rgba(166, 177, 225, 1);
$color3: rgba(180, 134, 159, 1);
$color4: rgba(152, 95, 111, 1);
$color5: rgba(78, 76, 103, 1);


$color1: rgba(43, 45, 66, 1);
$color2: rgba(141, 153, 174, 1);
$color3: rgba(237, 242, 244, 1);
$color4: rgba(239, 35, 60, 1);
$color5: rgba(217, 4, 41, 1);


$color1: rgba(101, 222, 241, 1);
$color2: rgba(168, 220, 209, 1);
$color3: rgba(220, 226, 200, 1);
$color4: rgba(249, 105, 0, 1);
$color5: rgba(241, 127, 41, 1);


$color1: rgba(252, 252, 252, 1);
$color2: rgba(210, 248, 152, 1);
$color3: rgba(246, 249, 48, 1);
$color4: rgba(47, 47, 47, 1);
$color5: rgba(0, 0, 0, 1);


$color1: rgba(240, 58, 71, 1);
$color2: rgba(175, 91, 91, 1);
$color3: rgba(246, 244, 243, 1);
$color4: rgba(39, 111, 191, 1);
$color5: rgba(24, 48, 89, 1);


$color1: rgba(204, 215, 197, 1);
$color2: rgba(239, 210, 203, 1);
$color3: rgba(199, 162, 124, 1);
$color4: rgba(214, 87, 128, 1);
$color5: rgba(238, 148, 128, 1);


$color1: rgba(232, 174, 183, 1);
$color2: rgba(184, 225, 255, 1);
$color3: rgba(169, 255, 247, 1);
$color4: rgba(148, 251, 171, 1);
$color5: rgba(130, 171, 161, 1);


$color1: rgba(49, 62, 80, 1);
$color2: rgba(58, 67, 94, 1);
$color3: rgba(69, 85, 97, 1);
$color4: rgba(92, 102, 114, 1);
$color5: rgba(108, 111, 127, 1);


$color1: rgba(98, 60, 234, 1);
$color2: rgba(231, 223, 198, 1);
$color3: rgba(233, 241, 247, 1);
$color4: rgba(84, 66, 107, 1);
$color5: rgba(219, 213, 178, 1);


$color1: rgba(175, 43, 191, 1);
$color2: rgba(161, 78, 191, 1);
$color3: rgba(108, 145, 191, 1);
$color4: rgba(95, 176, 183, 1);
$color5: rgba(91, 200, 175, 1);